.top
{
    background-color:rgb(53, 53, 231);
    height: 100px;
    display: flex;
}
.p
{
    font-size: x-large;
}
.bl
{
    
    background-color: whitesmoke;
    
}
.lo
{
    height: 30rem;
    background-color: rgb(246, 246, 6);
}
p
{
    font-size: larger;
}
button
{
    font-size: 20px;
    background-color: blue;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    border: none;

}
h1{
    background-color: whitesmoke;
    font-weight: bold;
    text-align: center;
}


ul{
    list-style: none;
    color: black;
    font-size: larger;
    margin: 0px 30px 0px 0px;
    position: relative;
    display: inline;
}

li{
    display: inline;
    margin: 0px 50px 0px 0px;
    font-size: larger;
    font-weight: bold;

}
.cl
{
    color: rgb(246, 246, 6); ;
}
.li
{
    align-items: end;
    justify-content: end;
    margin: 30px 0px 0px 0px;
}
select
{
    border-color:white; 
}
.l2
{
    text-align: center;
    margin-top: 20px;
}
.column {
    width: 33%;
    padding: 0 15px;
  }
  
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
@media screen and (max-width: 600px) {
.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
}
  .card {
    width: 450px;
    height: 450px;
    background: white;
    border-radius: 10px;
    opacity: 1;
    margin-bottom: 20px;
  }
  .card-title {
    text-align: center;
    font: normal normal bold 30px/84px Segoe UI;
    letter-spacing: 0px;
    color: #4a4949;
    opacity: 1;
  }
  .card-text {
    text-align: center;
    font: normal normal bold 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #4a4949;
    opacity: 1;
    padding: 5px;
  }
  .column1 {
    width: 33%;
    padding: 0 15px;
  }
  
.row1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(99, 93, 93);
}
  
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
@media screen and (max-width: 600px) {
.column1 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}
}
  .card1 {
    width: 450px;
    height: 450px;
    background: white;
    border-radius: 10px;
    opacity: 1;
    margin-bottom: 20px;
  }
  .card-title1 {
    text-align: center;
    font: normal normal bold 30px/84px Segoe UI;
    letter-spacing: 0px;
    color: #4a4949;
    opacity: 1;
  }
  .card-text1{
    text-align: center;
    font: normal normal bold 24px/32px Segoe UI;
    letter-spacing: 0px;
    color: #4a4949;
    opacity: 1;
    padding: 5px;
  }
.Nx
{
    height: 50rem;
    background-color: rgb(99, 93, 93);
}
form{
    text-align: center;
    height: 40rem;
}
.le{
    text-align: center;
    font-size: xx-large;
}
.oi
{
    font-size: larger;
    margin-bottom: 20px;
}
input,textarea
{
    width: 20rem;
    padding: 0.8rem;
}
footer
{
    padding: 5rem;
    background-color: rgb(62, 62, 126);
    text-align: center;
}
.h{
    background-color:rgb(62, 62, 126) ;
}